.item-cont{
    background-color: #fff;
    display: flex;
}
.main-item-1{
    border-radius: 10px;
    position: relative;
    border-bottom-left-radius: 0px;
    background-color:#26465E;
    margin-top: 10px;
    color: #fff!important;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
}
.item-cont.admin{
    margin-left: auto;
    flex-direction: row-reverse;
   
    
    
}
.item-cont.admin .main-item-1{
    background: rgba(51, 87, 56, 0.25);
    width: auto;
    max-width: 300px;
    padding-bottom: 10px;
    font-family: manrope;
    font-size: 11px;
}

.admin {
    float: right!important;
}
.main-item-1 .item-txt{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    background-color: transparent;
    /* margin-bottom: 40px; */
    position: relative;
}
.paper_plane svg {
    background-color: transparent!important;
    color: #006438;
}