.status_table {
  /* background: red; */

  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  border: 1px solid #f0f3f2;
  border-radius: 5px;
  border-collapse: collapse;
  font-weight: 400;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}
.status_table thead tr {
  border-bottom: 1px solid #f0f3f2;
  font-weight: 600;
  text-align: left;
  font-size: 11px;

}
.status_table th,
.status_table td {
  padding: 12px 15px;
}
.status_table tbody tr {
  border-bottom: 1px solid #f0f3f2;
}
.status_table tbody tr:nth-of-type(even) {
  background-color: #fbfefd;
}
.status_table tbody tr:last-of-type {
  border-bottom: 2px solid #f0f3f2;
}
.status_table .colors {
  background: #206b7c;
  display: block;
  padding: 7px;
  border-radius: 5px;
  width: 20px;
}

.status_warning {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 12px 0;
  /* margin-bottom: 20px; */
  /* padding: 5px; */
}
.status_warning svg {
  width: 40px;
  height: 40px;
}
.status_warning span {
  margin-left: 20px;
  text-align: justify;
  color: #eb410b;
  width: 100%;
}
