body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito-Sans','Manrope', sans-serif;
  overflow-x: hidden;
  background-color: white;
}
:root {
  --primary:#006438;
  --back_ground: #f5f5f5;
  --white: #ffffff;
  --black: #000000;
  --red: #b90707;
  --danger: #dfcccc;
  --action: #5171e1;
  --stroke:#DDDDDD;
}
.header {
  font-size: 18px;
  font-weight: 900;
  font-family: sans-serif!important;
  margin-bottom: 15px;
}
.regular_text {
  font-weight: lighter;
  margin-top: 14px;
}
.text-uc{
  text-transform: uppercase;
}
.lh-2 {
  line-height: 2em;
}
.review_title {
  opacity: 0.5;
}
.f-13 {
  font-size: 13px;
}
.f-11 {
  font-size: 11px;
}

.review__summary {
  font-size: 13px;
}
.auth_container {
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;

 
  

  /* padding-bottom: 20px;
  padding-top: 20px; */
  
}
.auth_display{
  min-width:60%;
  min-height: 100%;
  max-width: 60%;
  max-height: 100%;
  overflow:hidden;
 background-color:rgba(68, 140, 116, 0.11);
 display: flex;
 justify-content: flex-end;
 flex-direction: column;
 position: relative;
 background: url(../public/newbg.png);
 background-size: cover;
}
.status_warning h1 {
    color: rgb(255 255 255);
    font-size: 18px;
    background-color: black;
    padding: 3px 11px;
    border-radius: 50%;
}
.auth_display .display_message{
  position: absolute;
  bottom: 0;
  max-height: 200px;
  width: 100%;
  background-color: rgba(215, 215, 215, 0.74);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}
.display_message h2{
  font-size: 30px;
  width: 70%;
  margin-left: 30px;
}
.display_message p{
  color: #448C74;
  margin-left: 30px;
}

.auth_display img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-126px) translateY(54px);
  /* aspect-ratio: 1/1; */
  
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
  box-shadow: none!important;
}
.css-quj9j6-MuiTable-root {
  text-transform: uppercase!important
}
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label{
  text-transform: uppercase;
    font-size: 13px;
}
.css-1azl6jz-MuiTableCell-root{
  text-align:left!important
}
.css-177gid-MuiTableCell-root{
  text-align: left!important;
}
.css-1n3h4wo{
  margin-top: 3%;
  height: 98vh!important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #006438!important;
    font-weight: 900;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  line-height: 4em!important;
  text-align: left!important;
  align-items: left!important;
  padding: 12px 45px!important;
  -webkit-box-align: none!important;
    -webkit-box-align: left!important;
    -ms-flex-align: left!important;
}
.css-10d9dml-MuiTabs-indicator{
  background-color: #FB9EA3!important;
    left: 0!important;
    width: 4px!important;
}
.css-35zqo5-MuiTabs-root{
  width: 300px;
  border-right: 20px solid!important;
    border-color: rgb(247 247 247)!important;
}
.uploaded_text {
  font-size: 11px;
    display: flex;
    position: relative;
    bottom: 26px;
    padding-top: 10px;
    color: green;
}
.admin_tag{
position: absolute;
top: 0;
margin-left: 20px;
margin-top: 40px;
display: flex;
align-items: center;
}
.auth_logos{
  display: flex;
  width: 100px;
}
.auth_logos img{
  max-height: 120px;
  max-width: 300px;
}

.auth_inner_container {
  width: 45%;
  height: 100vh;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5),
    -1px -1px 5px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  overflow-x: hidden;
  margin-bottom: 20px;
 padding-left: 50px;
 padding-right: 50px;
  overflow-y: scroll;
  /* padding: 50px; */
}

.auth_container img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 33px;
}
.auth_container .inputs_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  flex: 1;
}

.verify{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
h2 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
}
.save_next{
  width: 100%;
  display: flex;
  margin-top: 12%;
 
  justify-content: flex-end;
}

 thead tr {
  border-bottom: 1px solid #F0F3F2;
  font-weight: 600;
  text-align: left;
  font-size: 11px
}
 th,
 td {
  padding: 12px 15px;
}
 tbody tr {
  border-bottom: 1px solid #F0F3F2;
}
 tbody tr:nth-of-type(even) {
  background-color: #FBFEFD;
}
 tbody tr:last-of-type {
  border-bottom: 2px solid #F0F3F2;
}
#loader{
  height: 40vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#empty{
  height: 150px;
  text-align: center;
  /* width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; */
}
.modal{
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      position: absolute;
      min-width: 40%;
     
}
@media only screen and (max-width: 767px) {
  .modal{
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 90%;
}
  .auth_inner_container {
    width: 95%;
    min-height: 80vh;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5),
      -1px -1px 5px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    overflow-x: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .auth_container .inputs_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .home_container {
    padding-left: 0px;
    padding-bottom: 10px;
  }
  .section_a {
    width: 70%;
    min-height: 100px;
    background-color: red;
    margin-top: 30px;
  }
  .section_0 {
    width: 90%;
    min-height: 200px;
    background-color: var(--white);
    margin-top: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5),
      -1px -1px 4px rgba(206, 206, 206, 0.5);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .section_0 span{
      margin-bottom: 50px;
  }
  .section_0 .asteric{
      color: var(--red);
      margin-top: 20px;
  }
  .auth_inner_container img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
  }






}


@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .tab_main_container {
    size: A4!important; 
    padding: 20px!important;
  }
}
