body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito-Sans','Manrope', sans-serif;
  overflow-x: hidden;
  background-color: white;
}
:root {
  --primary:#1a1889;
  --back_ground: #f5f5f5;
  --white: #ffffff;
  --black: #000000;
  --red: #b90707;
  --danger: #dfcccc;
  --action: #5171e1;
  --stroke:#DDDDDD;
}

.css-10d9dml-MuiTabs-indicator{
  background-color: #1a1989 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #1a1989 !important;
  font-weight: 900 !important;
}
.header {
  font-size: 18px;
  font-weight: 900;
  font-family: sans-serif!important;
  margin-bottom: 15px;
}
.b-b-dashed {
  border-bottom: thin dashed #80808054;
}
.download_link {
  color: var(--primary);
  cursor: pointer;
}
.regular_text {
  font-weight: lighter;
  margin-top: 14px;
}
.text-uc{
  text-transform: uppercase;
}
.lh-2 {
  line-height: 2em;
}
.review_title {
  opacity: 0.5;
}
.f-13 {
  font-size: 13px;
}
.f-11 {
  font-size: 11px;
}

.review__summary {
  font-size: 13px;
}
.auth_container {
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  display: flex; 
}
.auth_display{
  min-width:60%;
  min-height: 100%;
  max-width: 60%;
  max-height: 100%;
  overflow:hidden;
 background-color:rgba(68, 140, 116, 0.11);
 display: flex;
 justify-content: flex-end;
 flex-direction: column;
 position: relative;
 background: url(../public/newbg.png);
 background-size: cover;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: 30px 0;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1.7px solid #21151521;
  outline: 0;
  color: #211515;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 8px;
  cursor: text;
  top: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 8px;
  color: #4a4a4a;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 700;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 2px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 8px;
  color: #11998e;
  font-weight: 600;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}
input[type="file"] {
  position: relative;
  margin-top: 8px;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}
.djbcwj {
  border-radius : 0!important
}

button:disabled{
  opacity: 0.1;
  cursor: none;
}
.w-100 {
  width : 85%
}
input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 14px;
  left: 43px;
  color: #0964b0;
  font-weight: 700;
  font-size: 9px;
  content: "UPLOAD FILE";
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #0964b0;
  /* border: none; */
  box-shadow: 0px 1px 0px var(--primary-color);;
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}
.btn {
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 17px;
  cursor: pointer;
}
.btn-accent {
  background-color: var(--primary-color);
}

h3{
  font-size: 13px;
    font-family: manrope-bold;
}

h2 {
  font-size: 16px;
  font-family: manrope-bold;
}
.card::after{
  content: "";
    width: 30px;
    height: 30px;
    background-color: red;
    z-index: 999999;
    top: 0;
    right: 0;
    position: absolute;
    border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    animation-delay: .2s;
    animation: ripple 1.5s ease-out infinite;
}
.qa {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    font-weight: 900;
    margin: 0 20px 20px 0;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-lg {
  width : 100%;
}
.btn-sm {
  width : 50%;
}

a {
  color: var(--primary-color)
}

.global_search {
  padding: 9px 7px;
  width: 350px;
  outline: none;
  border: thin solid #dbdbdb;
  border-radius: 5px;
}


.status_warning h1 {
    color: rgb(255 255 255);
    font-size: 18px;
    background-color: black;
    padding: 3px 11px;
    border-radius: 50%;
}
.auth_display .display_message{
  position: absolute;
  bottom: 0;
  max-height: 200px;
  width: 100%;
  background-color: rgba(215, 215, 215, 0.74);
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}
.display_message h2{
  font-size: 30px;
  width: 70%;
  margin-left: 30px;
}
.display_message p{
  color: #448C74;
  margin-left: 30px;
}

.auth_display img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-126px) translateY(54px);
  /* aspect-ratio: 1/1; */
  
}

.uploaded_text {
  font-size: 11px;
    display: flex;
    position: relative;
    bottom: 26px;
    padding-top: 10px;
    color: green;
}
.admin_tag{
position: absolute;
top: 0;
margin-left: 20px;
margin-top: 40px;
display: flex;
align-items: center;
}
.auth_logos{
  display: flex;
  width: 100px;
}
.auth_logos img{
  max-height: 120px;
  max-width: 300px;
}

.auth_inner_container {
  width: 45%;
  height: 100vh;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5),
    -1px -1px 5px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  overflow-x: hidden;
  margin-bottom: 20px;
 padding-left: 50px;
 padding-right: 50px;
  overflow-y: scroll;
  /* padding: 50px; */
}

.auth_container img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 33px;
}
.auth_container .inputs_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  flex: 1;
}

.verify{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}
h2 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
}
.save_next{
  width: 100%;
  display: flex;
  margin-top: 12%;
 
  justify-content: flex-end;
}

 thead tr {
  border-bottom: 1px solid #F0F3F2;
  font-weight: 600;
  text-align: left;
  font-size: 11px
}
 th,
 td {
  padding: 12px 15px;
}
 tbody tr {
  border-bottom: 1px solid #F0F3F2;
}
 tbody tr:nth-of-type(even) {
  background-color: #FBFEFD;
}
 tbody tr:last-of-type {
  border-bottom: 2px solid #F0F3F2;
}
#loader{
  height: 40vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#empty{
  height: 150px;
  text-align: center;
  /* width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; */
}

/* Colors */
:root {
  --primary-color : #11998e;
  --secondary-color : #161c23;
  --dark-skin : #242424;
}

body {
  background-color: #f7f7f7;
}
/* Typography */
* {
  padding : 0;
  margin: 0;
  box-sizing : border-box;
  font-family: manrope, ubuntu, sans-serif; 
  font-size: 12px;
}

/* Box Shadows */
.shadow_light {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bg-accent {
  background-color : var(--primary-color)
}
.color-accent {
  color : var(--primary-color)
}
.bg-secondary {
  background-color: var(--secondary-color)
}
/* Margins */

.m-xl {
  margin : 30px;
}
.m-xxl {
  margin: 50px;
}
.mb-xxxl {
  margin-bottom: 120px!important;
}
.mt-xxxl {
  margin-top: 120px!important;
}
.mt-xxl {
  margin-top: 60px!important;
}
.m-md {
  margin : 15px;
} 
.mt-n20{
  margin-top: -20px;
}
.mt-n10{
  margin-top: -10px;
}
.m-sm {
  margin : 7px;
}
.mx-xl {
  margin : 0 30px;
}
.mx-md {
  margin : 0 15px;
}
.mx-sm {
  margin : 0 7px;
}
.my-xl {
  margin : 30px 0;
}
.my-md {
  margin : 15px 0;
}
.my-sm {
  margin : 7px 0;
}
.mr-xl {
  margin-right : 30px;
}
.mr-md {
  margin-right : 15px;
}
.mr-sm {
  margin-right : 7px!important;
}
.mt-nsm {
  margin-top: -5px!important;
}
.ml-xl {
  margin-left : 30px;
}
.ml-md {
  margin-left : 15px;
}
.ml-sm {
  margin-left : 7px!important;
}
.mt-xl {
  margin-top : 30px;
}
.mt-md {
  margin-top : 15px;
}
.mt-sm {
  margin-top : 7px;
}
.mb-xl {
  margin-bottom : 30px;
}
.mb-md {
  margin-bottom : 15px;
}
.mb-sm {
  margin-bottom : 7px;
}

/* Paddings */
.p-xl {
  padding : 30px;
}
.p-md {
  padding : 15px;
}
.p-sm {
  padding : 7px;
}
.px-xl {
  padding : 0 30px;
}
.px-md {
  padding : 0 15px;
}
.px-sm {
  padding : 0 7px;
}
.py-xl {
  padding : 30px 0;
}
.py-md {
  padding : 15px 0;
}
.py-sm {
  padding : 7px 0;
}
.pr-xl {
  padding-right : 30px;
}
.pr-md {
  padding-right : 15px;
}
.pr-sm {
  padding-right : 7px;
}
.pl-xl {
  padding-left : 30px;
}
.pl-md {
  padding-left : 15px;
}
.pl-sm {
  padding-left : 7px;
}
.pt-xl {
  padding-top : 30px;
}
.pt-md {
  padding-top : 15px;
}
.pt-sm {
  padding-top : 7px;
}
.pb-xl {
  padding-bottom : 30px;
}
.pb-md {
  padding-bottom : 15px;
}
.pb-sm {
  padding-bottom : 7px;
}

/* Layout sizes */
.col-1 {
  width: 8%;
}
.col-2 {
  width: 17%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33%;
}
.col-5 {
  width: 42%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58%;
}
.col-8 {
  width: 57%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83%;
}
.col-11 {
  width: 92%;
}
.col-12 {
  width: 100%;
}
.login-banner {
  background: url("./assets/Images/bg-auth.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999999999;
}
.light {
  background-color: #ffffff;
}
.lineheight-0 {
  line-height: 0;
}
.auth {
  height: 664px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.auth_register {
  height: 750px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.form__group__register {
    position: relative;
    padding: 15px 0 0;
    margin: 15px 0;
}

.form-container {
  padding: 35px ;
}
.wrapper {
  width : 100%
}
.flex {
  display: flex;
}
.flex-center {
  margin: auto;
}
.heading {
  font-size: 23px;
}
.bold {
  font-weight: 700;
}
.right {
  text-align: right;
}
.center {
  text-align: center
}
.forgotten {
  font-size: 8px;
  font-weight: 600;
  color: #7f7e7e;
}
.sub-title {
  font-size: 10.5px;
  font-weight: 600;
  color: #7f7e7e;
}
.uppercase {
  text-transform: uppercase;
}
.bubble:after {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #1a3e9c0f;
  z-index: -1;
  border-radius: 50%;
  top: 85%;
  right: 8%;
  animation: MoveUpDown 60s linear infinite;
}
.bubble2:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #1a3e9c0f;
  z-index: -1;
  border-radius: 50%;
  top: 85%;
  right: 8%;
  animation: MoveWobble 55s linear infinite;
}
.bubble3:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #1a3e9c0f;
  z-index: 1;
  border-radius: 50%;
  top: 85%;
  right: 8%;
  animation: MoveZigzag 23s linear infinite;
}

@keyframes MoveUpDown {
  0% {
      transform: translate(0, 0); /* Initial position: no translation */
  }
  25% {
      transform: translate(-300px, -300px); /* Move diagonally to the top-left */
  }
  50% {
      transform: translate(-600px, 0); /* Move horizontally to the left */
  }
  75% {
      transform: translate(0, -600px); /* Move vertically to the top */
  }
  100% {
      transform: translate(0, 0); /* Return to the initial position */
  }
}

@keyframes MoveZigzag {
  0% {
      transform: translate(0, 0); /* Initial position: no translation */
  }
  25% {
      transform: translate(150px, -300px); /* Move diagonally to the top-right */
  }
  50% {
      transform: translate(-600px, -300px); /* Move diagonally to the top-left */
  }
  75% {
      transform: translate(0, -1200px); /* Move vertically to the top */
  }
  100% {
      transform: translate(0, 0); /* Return to the initial position */
  }
}
@keyframes MoveWobble {
  0% {
      transform: translate(0, 0) rotate(0deg); /* Initial position: no translation or rotation */
  }
  25% {
      transform: translate(400px, -400px) rotate(22deg); /* Move diagonally up and to the right while rotating */
  }
  50% {
      transform: translate(-700px, -700px) rotate(-11deg); /* Move diagonally up and to the left while rotating */
  }
  75% {
      transform: translate(100px, -100px) rotate(2deg); /* Move diagonally up and to the right while rotating */
  }
  100% {
      transform: translate(0, 0) rotate(0deg); /* Return to the initial position: no translation or rotation */
  }
}

.pointer {
  cursor : pointer
}

.modal{
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      position: absolute;
      min-width: 40%;
     
}
@media only screen and (max-width: 767px) {
  .modal{
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 90%;
}
  .auth_inner_container {
    width: 95%;
    min-height: 80vh;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5),
      -1px -1px 5px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    overflow-x: hidden;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .auth_container .inputs_container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .home_container {
    padding-left: 0px;
    padding-bottom: 10px;
  }
  .section_a {
    width: 70%;
    min-height: 100px;
    background-color: red;
    margin-top: 30px;
  }
  .section_0 {
    width: 90%;
    min-height: 200px;
    background-color: var(--white);
    margin-top: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5),
      -1px -1px 4px rgba(206, 206, 206, 0.5);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .section_0 span{
      margin-bottom: 50px;
  }
  .section_0 .asteric{
      color: var(--red);
      margin-top: 20px;
  }
  .auth_inner_container img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
  }






}


@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .tab_main_container {
    size: A4!important; 
    padding: 20px!important;
  }
}
