.application_container{
    padding: 20px;
    
}
.application_container .tab-container{
    margin-bottom: 20px;
}
.selectable{
    width: 250px;
    height: 200px;
    background-color: rgba(0, 128, 0, 0.048);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.selectable span{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.rounded{
    height:20px;
    width: 20px;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 2px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}
.rounded.selected{
    background-color: var(--primary);
}
.selectable.selected{
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.app_lots{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.stages_select{
   overflow-x: auto;

}
.check_lot{
    display: flex;
    align-items: center;
}
.check_lot h3{
    margin-left: 20px;
    
}
@media only screen and (max-width: 767px) {
    .app_lots{
        display: grid;
        grid-template-columns: 1fr ;
    }  
}