.layout_container {
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.layout_nav {
  height: 100px;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px 10px 10px var(--stroke);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout_nav .layout_logo {
  height: 105px;
  width: 170px;
  margin-left: 20px;
}
.layout_user {
  margin-right: 100px;
}
.layout_body {
  width: 100%;
  /* min-height: 200px; */
  background-color: var(--white);
  flex: 1;
  display: flex;
}
.layout_aside {
  width: 240px;
  transition: all 1s;
  /* height: 100%; */
  background-color: var(--white);
  border-right: 1px solid lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside_logo {
  height: 120px;
  width: 170px;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  margin-top: 20px;
  margin-bottom: 10px;
}
.other-links {
  margin-top: auto;
  width: 100%;
  margin-bottom: 30px;
}
.layout_main {
  flex: 1;
  overflow: hidden;
  background-color: var(--back_ground);
  overflow-y: scroll;
}
.drawer_bar {
  display: none;
}
@media only screen and (max-width: 767px) {
  .layout_container {
    overflow: hidden;
    overflow-y: scroll;
  }
  .layout_nav {
    height: 100px;
    width: 100%;
  }
  .layout_user {
    display: none;
  }
  .drawer_bar {
    display: block;
    margin-right: 20px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
  }
  .layout_aside {
    width: 0px;
    padding: 0px;
  }
}
