.forgot_password {
  margin-top: 20px;
  width: 100%;
  display: flex;
}
.terms {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.terms input {
  margin-right: 20px;
  max-height: 28px;
  width: 28px;
  border-radius: 10px;
  margin-top: 5px;
}
.terms span a {
  border-bottom: 1px solid black;
  margin-right: 5px;
  cursor: pointer;
}
.have_account {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.auth_bottom {
  margin-top: auto;
  margin-bottom: 100px;
}
.dont {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.sub_input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
