.main_program_container{
    width: 100%;
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 20px;
}
.main_program_head{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.main_program_holder{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.main_program_holder .program_content{
    min-height: 50vh;
    width: 95%;
    background-color: rgba(2, 48, 2, 0.03);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}
.main_program_holder .program_stages{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
.stage_det_row{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 10px;

}
.stage_det_row span:nth-child(1){
    font-size: 20px;
    font-weight: bold;
}