* {
  padding: 0;
  margin: 0;
}

.review-container {
  background: #fff;
  border-radius: 10px;

  width: 100%;
}

.review_table {
  border-collapse: collapse;
  margin: 25px 0;
}
.review_table thead tr {
  background-color: #009879;
  color: #ffffff;
}
.review_table thead th {
  text-transform: uppercase;
}
.review_table th,
.review_table td {
  padding: 5px 10px;
}

.horizontal-line {
  border: 1px dashed #ccc;
}
.review-header {
  color: #006438;
  font-size: medium;
  padding: 10px 0px;
  text-transform: uppercase;
}

.directors-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  border: 1px dashed #ccc;
  text-align: left;
  margin: 20px auto;
}
.directors-container .first {
  border-right: 1px dashed #ccc;
}
.directors-container div {
  width: 50%;
  padding: 0px 10px;
}
.document-upload {
  width: 100%;
}
