.alert{
    width: 30vw;
    height: 50px;
    background-color: #006438;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: -20px;
    margin-top: 20px;
    margin-right: 20px;
    transition: all 0.4s;
    transform: translateX(1000px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 9999999999999999;
}
.alert.active{
    transform: translateX(0px); 
}
.alert span{
    font-size: 15px;
    text-align: left;
}
@media only screen and (max-width: 767px) {
    .alert{
        width: 80%;
        background-color: rgba(0, 100, 0, 0.4);
    }
}