.profile {
  display: flex;
  flex-direction: column;

  /* height: 100vh; */
  padding: 20px;
}
.row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-0.5* var(--bs-gutter-x));
  margin-left: calc(-0.5* var(--bs-gutter-x));
}
.card {
  border: 0px solid rgb(229, 234, 239);
  margin-bottom: 30px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  background-color: #fff;
}
.card .card-body {
  padding: 20px;
  background: transparent;
  flex: 1 1 auto;
}
.welcome-profile ul {
  list-style-type: none;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.ms-3 {
  margin-left: 1rem !important;
}
.welcome-profile h4, .welcome-profile .h4 {
  margin-top: 10px;
  font-size: 18px;
}
.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0px solid rgb(229, 234, 239);
  background-color: transparent;
  padding: 20px 20px 0px;
}
.card-title {
  font-size: 18px;
  margin-bottom: 0px;
  color: #1f2c73;
}
button, .btn {
  color: #fff;
  padding: 8px 30px;
  font-weight: 600;
  border-radius: 6px;
}
@media (min-width: 1400px){
.col-xxl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}
}

@media (min-width: 1200px){
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}
}
@media (min-width: 992px){
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}
}


.prog-h {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile_detail {
  border: 1px solid rgba(211, 211, 211, 0.158);
  border-radius: 10px;

  margin-bottom: 10px;
  min-height: 20vh;
}
.profile_container {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 20px;
}
.profile_buttons span {
  margin-left: 30px;
  color: var(--primary);
  margin-right: 10px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}
.main_prof_details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  width: 90%;
  padding: 20px;
}
.profile_buttons {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}
@media only screen and (max-width: 767px) {
  .profile_container {
    background-color: white;

    display: flex;
    flex-direction: column;
  }
}
